/* :root {
    --COLOR_PRIMARIO: #E97777;
    --COLOR_SECUNDARIO: #FF9F9F;
    --COLOR_TERCIARIO: #FCDDB0;
    --FONDO: #FFFAD7;
} */

/* :root {
    --COLOR_PRIMARIO: #EB6383;
    --COLOR_SECUNDARIO: #FA9191;
    --COLOR_TERCIARIO: #FFE9C5;
    --FONDO: #B4F2E1;
} */

:root {
    --COLOR_PRIMARIO: #9ADCFF;
    --COLOR_SECUNDARIO: #FFF89A;
    --COLOR_TERCIARIO: #FFB2A6;
    --FONDO: #FF8AAE;
    --INTERMEDIO: #F6B0A4;
}

/* #FFF545 */

/* :root {
    --COLOR_PRIMARIO: #0A2647;
    --COLOR_SECUNDARIO: #144272;
    --COLOR_TERCIARIO: #205295;
    --FONDO: #2C74B3;
} */

/* :root {
    --COLOR_PRIMARIO: #635985;
    --COLOR_SECUNDARIO: #443C68;
    --COLOR_TERCIARIO: #393053;
    --FONDO: #18122B;
    --FONT_COLOR: #FFF89A;
} */
