@import '../../constantes/colores/colores.css';

.proyectoContainer {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 100%;
}

.imagenContainer {
    perspective: 800px;
    /* background-color: green; */
    width: 90%;
    margin-right: 20px;
    
}

.card {
    position: relative;
    width: 100%;
    height: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .25);
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.title {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform .5s;

}

.card:hover .title {
    transform: translateZ(50px);
}

.imagen {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.4s;
    border-radius: 10px;
}

.imagen:hover {
    opacity: 1;
    
}

.tituloContainer {
    /* background-color: blue; */
    display: flex;
    width: 30%;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    flex-direction: column; /* Opcional: alinea verticalmente los elementos */
    text-align: center; /* Opcional: alinea horizontalmente el texto */
}

.titulo {
    font-size: 70px;
    color: black;
    text-shadow: 2px 2px 4px white;
    /* background-color: black; */
    border-radius: 10px;
}

@media (max-width: 900px) {
    .titulo {
        font-size: 60px;
    }
    .icono {
        width: 70px;
    }
}
@media (max-width: 780px) {
    .titulo {
        font-size: 50px;
    }
    .icono {
        width: 60px;
    }
    .imagen {
        width: 480px;
    }
    .card {
        width: 480px;
    }
}
@media (max-width: 700px) {
    .titulo {
        font-size: 40px;
    }
    .icono {
        size: 50px;
    }
    .imagen {
        width: 450px;
    }
    .card {
        width: 450px;
        height: 360px;
    }
}
@media (max-width: 650px) {
    .titulo {
        font-size: 40px;
    }
    .icono {
        size: 50px;
    }
    .imagen {
        width: 420px;
    }
    .card {
        width: 420px;
        height: 320px;
    }
}
@media (max-width: 600px) {
    .imagen {
        width: 400px;
    }
    .card {
        width: 400px;
        height: 300px;
    }
}
@media (max-width: 570px) {
    .imagen {
        width: 370px;
    }
    .card {
        width: 370px;
        height: 280px;
    }
}
@media (max-width: 530px) {
    .imagen {
        width: 350px;
    }
    .card {
        width: 350px;
        height: 260px;
    }
}
@media (max-width: 500px) {
    .titulo {
        font-size: 30px;
    }
    .imagen {
        width: 340px;
    }
    .card {
        width: 340px;
        height: 250px;
    }
}
@media (max-width: 480px) {
    .titulo {
        font-size: 30px;
    }
    .imagen {
        width: 300px;
    }
    .card {
        width: 300px;
        height: 250px;
    }
}
@media (max-width: 460px) {
    .titulo {
        font-size: 30px;
    }
    .imagen {
        width: 280px;
    }
    .card {
        width: 280px;
        height: 250px;
    }
}
@media (max-width: 400px) {
    .titulo {
        font-size: 30px;
    }
    .imagen {
        width: 260px;
    }
    .card {
        width: 260px;
        height: 250px;
    }
}
@media (max-width: 375px) {
    .titulo {
        font-size: 20px;
    }
    .imagen {
        width: 250px;
    }
    .card {
        width: 250px;
        height: 250px;
    }
}

.navegacionContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: yellow; */
    width: 70%;
    
}

.icono {
    filter: drop-shadow(1px 1px 0px black);
    position: relative;
    color: #E97777;
}

.icono:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-out;
}