@import '../../constantes/colores/colores.css';

.proyectoContainer {
    background-color: var(--FONDO);
    display: flex;
    flex-direction: row;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #000000;
    width: 90%;
}

.imagen {
    width: 400px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.tituloContainer {
    display: flex;
    width: 100%;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    flex-direction: column; /* Opcional: alinea verticalmente los elementos */
    text-align: center; /* Opcional: alinea horizontalmente el texto */
}

.titulo {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.navegacionContainer {
    display: flex;
    flex-direction: row;
}

.icono:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}