@import './constantes/colores/colores.css';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw; 
  background-color: var(--COLOR_SECUNDARIO);
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proyectos {
  /* background-color: red; */
  display: grid;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}


.aplicaciones {
  width: 100%;
  height: auto;
  display: contents;
  justify-items: center;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}






